@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html, body{
  min-height: 100vh;
}

header{
  background-color: black;
  color: white;
  height: 10%;
  text-align:center;
}

#titulo{
  padding-top: 20px;
  font-size: 7vw;
  font-family: "Alfa Slab One", serif;
  font-variant: small-caps;
}

#link{
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 2vw;
}

a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
}

.bloco2, .bloco4 {
  position: relative; /* Garante que o z-index funcione */
}

.blocao{
  background: black url(imagens/background001.jpg) center center no-repeat fixed;
  background-size: cover;
}

.bloco{
  background-color:white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 50px 30px 60px 30px;
}

p{
  font-family: "Cherry Cream Soda", system-ui;
  font-size: 3vw;
  line-height: 2;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.cordel2{
  background-color: rgba(0, 0, 0, 0.427);
  width:50%;
  color:white;
  padding: 5px;
}

.bloco2{
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 2vh;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.blocao2{
  background: black url(imagens/background002.jpg) center center no-repeat fixed;
  background-size: cover;
}

.bloco3{
  background-color:white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 50px 30px 60px 30px;
}

.bloco4{
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 2vh;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.cordel4{
  background-color: rgba(0, 0, 0, 0.427);
  width:50%;
  color:white;
  padding: 5px;
}

.blocao3{
  background-color:white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 50px 30px 60px 30px;
}

.foot{
  color: white;
  background-color: black;
}

footer > p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4vw;
  text-align: center;
  padding: 2px 2px;
}



